:root {
  --border-radius: 6px;
}
.search {
  border-radius: var(--border-radius);
  border: 1px solid orangered;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.search input[type="text"] {
  border: none;
  padding: 10px;
  border-radius: var(--border-radius);
}
.search button {
  padding: 10px;
  border: none;
  background-color: orangered;
  color: white;
  font-weight: bold;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}
